In [3]:
import pandas as pd
s =pd.Series([21,45,76,89,46])
type(s)

pandas.core.series.Series

In [10]:
import pandas as pd
data = {
    "name" : ["Rohna","Raju","babulal","payak","iran"],
    "age":[23,40,89,23,25],
    "city":["Pune","Indore","Bhopal","delhi","banglore"],
    "work":["banker","docotor","teacher","influencer","dancer"]
}
df=pd.DataFrame(data)

In [11]:
df

      name  age      city        work
0    Rohna   23      Pune      banker
1     Raju   40    Indore     docotor
2  babulal   89    Bhopal     teacher
3    payak   23     delhi  influencer
4     iran   25  banglore      dancer

In [13]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
df.columns

Index(['name', 'age', 'city', 'work'], dtype='object')

In [15]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'